body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #1e3799; 
    padding: 0;
    margin: 0;
  }
  
  .bg-text {
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.4);
  color: white;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 100%;
  max-width: 500px;
  padding: 20px;
  text-align: center;
  }
  
  
  @keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px); 
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
  }
  
  .bg-text h1 {
  animation: fadeIn 1s ease-out forwards;
  animation-delay: 0.5s;
  }
  
  .bg-text p:nth-of-type(1) {
  animation: fadeIn 1s ease-out forwards;
  animation-delay: 1s;
  }
  
  .bg-text p:nth-of-type(2) {
  animation: fadeIn 1s ease-out forwards;
  animation-delay: 1.5s;
  }
  
  .bg-text p:nth-of-type(3) {
  animation: fadeIn 1s ease-out forwards;
  animation-delay: 2s;
  }
  
  .bg-text .bouton {
  animation: fadeIn 1s ease-out forwards;
  animation-delay: 2.5s;
  }
  
  .bg-text h1,
  .bg-text p,
  .bg-text .bouton {
  opacity: 0;
  }
  
